<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRxC5LU9GuYiWl9nWV_NHsuoSxHzC0hV0</string>
	<key>GCM_SENDER_ID</key>
	<string>341664461618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.louisiana</string>
	<key>PROJECT_ID</key>
	<string>louisiana-parkways</string>
	<key>STORAGE_BUCKET</key>
	<string>louisiana-parkways.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341664461618:ios:b1cf3a17d7a3892f0d9d2b</string>
</dict>
</plist>